table {
	width: 100%;
	border-collapse: collapse;
	border: solid 1px #777;
}

table tr, table td, table th {
	border: solid 1px #777;
}

tr:nth-child(even) {
	background-color: #eee;
}

body {
    padding: 20px;
}

.info {
}

.configuration {
    border: solid 1px #aaa;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
}

.configuration input {
}

.results {
}
